<div style="margin: 10px;background-color: white;padding: 10px;">Total a pagar + IVA + Eenvio</div>
<div>
    <div>Direccion de envio (USAR GPS)</div>
    <div style="margin: 5px;background-color: #ffffff;padding: 5px;" class="">
        <div style="border:1px silver dashed;padding: 5px;">
            <p>
                <input name="group1" type="radio" id="test1" />
                <label for="test1">Esta es mi direccion de envio registrada direcciones de envio</label>
            </p>
        </div>

    </div>


    <div style="margin: 5px;background-color: #ffffff;padding: 5px;" class="">

    <div style="border:1px silver dashed;padding: 5px;">
        <p>
            <input name="group1" type="radio" id="test2" />
            <label for="test2">Usar mi posición GPS</label>
        </p>
    </div>
    </div>

</div>


